# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.html
external/glfw/docs/*
external/glfw/examples/*
external/glfw/tests/*

external/glm/doc/*
external/glm/test/*

cmake-build-debug/*

src/.idea/*
.idea/*

external/imgui/.github/*
external/imgui/examples/*
external/imgui/docs/*
external/imgui/backend/*

cmake-build-debug-visual-studio/*

external/imgui/.editorconfig
external/imgui/.gitattributes
external/imgui/.gitattributes
external/imgui/.editorconfig
